@import url(reset.css); 
.page {
  font-family: sans-serif;
  height: 1250px;
}

.header {
  width: 1000px;
  height: 50px;
  background-color: cornflowerblue;
  color: white;
  padding: 15px;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-container {
  margin-right: 20px;
}

.columns {
  height: 500px;
  margin-top: 80px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  font-family: 'Cousine', monospace;
}

.leftTitle {
  font-size: 26px;
  margin: 20px auto; 
}

.leftColomn {
  width: 270px;
  height: 400px;
  margin: 25px 25px;
  background-color: cornsilk;
  display: inline-block;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  padding: 10px;
  font-size: 16px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 1.1px;
}
.rightTitle {
  font-size: 26px;
  margin: 20px auto;
}

.rightColomn {
  width: 270px;
  height: 400px;
  margin: 25px 25px;
  background-color: cornsilk;
  display: inline-block;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  font-size: 16px;
  vertical-align: top;
  letter-spacing: 1.1px;
}

.lastTitle {
  font-size: 26px;
  margin: 20px auto;
}
.lastColomn {
  width: 270px;
  height: 400px;
  margin: 25px 25px;
  background-color: cornsilk;
  display: inline-block;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  font-size: 16px;
  vertical-align: top;
  letter-spacing: 1.1px;
  
}
.footer {
  width: 1000px;
  height: 50px;
  background-color: cornflowerblue;
  color: white;
  padding: 15px;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}